[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=PluginDevTools
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Krita Plugin Developer Tools
Comment=This plugin helps develop plugins for Krita
